body { background: #fefefe; }


 #ppc-parameter-title {
        padding: 8px 10px;
        border: 1px solid #ccd0d4;
        background: #fff;
        font-weight: 600;
    }

    